<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:abc123abc123abc123abc123abc123abc123abc123="/>
        <env name="OMNICAST_BASE_URL" value="http://127.0.0.1:8080"/>
        <env name="OMNICAST_API_KEY" value="dev_api_key_123"/>
        <env name="OMNICAST_API_SECRET" value="dev_api_secret_456"/>
        <env name="OMNICAST_JWT_SECRET" value="live_media_server_jwt_secret_key_2026"/>
    </php>
</phpunit>
